<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true">
    <testsuites>
        <testsuite name="Kreait\EzPublish\MigrationsBundle">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>vendor</directory>
            </exclude>
            <exclude>
                <file>bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>
</phpunit>